.puppy-form {
  .page-inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: stretch;

    &::before {
      content: "";
      width: 100%;
      height: 56vw;
      background-position: center bottom;
      background-repeat: no-repeat;
      background-size: contain;
      background-image: url("/svg/puppy.svg");
    }

    .content {
      flex: 1 1 auto;

      .title {
        font-size: 8vw;
        margin-top: 5vw;
        text-align: center;
        color: var(--primary-color);
      }

      .profile-form {
        margin-top: 5vw;
      }
    }
  }
}
