.summary {
  .content {
    margin: 0 16vw;
    font-size: 5vw;
    line-height: 1.5;
    text-align: center;
    backdrop-filter: blur(8px);
  }

  .tip {
    margin-top: 6vw;
    text-align: center;
    color: var(--placeholder-color);
    animation: tipFlash 2s linear infinite;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 40vw;
    height: 60vw;
    background: url("/svg/puppy-paw-2.svg") no-repeat left top/contain;
  }

  &::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 40vw;
    height: 60vw;
    background: url("/svg/kitty-paw-2.svg") no-repeat right bottom/contain;
  }

  &.summary-2 {
    &::before {
      right: 0;
      top: 0;
      bottom: initial;
      left: initial;
      background: url("/svg/puppy-paw-3.svg") no-repeat right top/contain;
    }

    &::after {
      left: 0;
      bottom: 0;
      right: initial;
      top: initial;
      background: url("/svg/kitty-paw-3.svg") no-repeat left bottom/contain;
    }
  }

  &.summary-3 {
    &::before {
      top: 0;
      left: 50%;
      bottom: initial;
      right: initial;
      transform: translate(-50%, 0);
      background: url("/svg/puppy-paw-4.svg") no-repeat center top/contain;
    }

    &::after {
      left: 50%;
      bottom: 0;
      right: initial;
      top: initial;
      transform: translate(-50%, 0);
      background: url("/svg/kitty-paw-4.svg") no-repeat center bottom/contain;
    }
  }
}
