.screenshot {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transform: translate(100%, 0);
  background-color: #fff;

  .page-inner {
    padding: 8vw 0;
  }

  .qrcode {
    margin-top: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    .notes {
      flex: 1 1 auto;
      font-size: 2vw;
      text-align: center;

      div {
        margin: 2vw;

        span {
          font-weight: bolder;
        }
      }
    }

    .image {
      width: 20vw;
      height: 20vw;
      background: url("/qrcode.jpg") no-repeat center/contain;
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 40%;
      transform: translate(0, -50%);
      width: 30vw;
      height: 20vw;
      background: url("/svg/kitty-paw-right.svg") no-repeat left center/contain;
    }

    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 40%;
      transform: translate(0, -50%);
      width: 30vw;
      height: 20vw;
      background: url("/svg/puppy-paw-left.svg") no-repeat right center/contain;
    }
  }

  .extra {
    font-size: 2vw;
    text-align: center;
    color: var(--placeholder-color);
  }
}

.overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transform: translate(100%, 0);
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .image {
    margin: 0 8vw;
    transform: translate(0, 15%);

    &::after {
      content: "长按图片可分享保存";
      display: block;
      text-align: center;
      color: #fff;
      margin-top: 2vw;
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  &.display {
    transform: translate(0, 0);
    background-color: rgba(0, 0, 0, 0.6);
    transition: background-color 300ms ease-in;

    .image {
      transform: translate(0, 0);
      transition: transform 300ms ease-in;
    }
  }
}
